{% extends 'layouts/site_layout.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: lightgreen;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Page</h1>
        <p>{{ page_name }}</p>
    </div>
{% endblock %}
