body {
    font-family: 'Nunito';
}
#main_header {
    padding: 20px 40px;
    border-bottom: 1px solid rgba(243, 244, 246);
    display: flex;
    justify-content: space-between;
    align-items: center
}
#main_header a {
    text-decoration: none;
    font-size: 18px;
}
.container {
    margin: 30px 100px;
}
.books_wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.single_book {
    width: 32%;
    margin: 10px 5px;
    padding: 20px 15px 25px;
    border: 1px solid #474747;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single_book .info {
    width: 45%;
    text-align: center;
}
.single_book > img {
    width: 50%;
 }
.single_book .info p {
    margin: 0 0 10px;
}
.single_book .info .title {
    font-size: 25px;
    font-weight: bold;
}
.single_book .info .author {
    font-size: 20px;
    font-style: italic;
}
.single_book .info .genre {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 25px;
}
.single_book .info .details {
    padding: 8px 25px;
    font-size: 14px;
    border: 1px solid #000000;
}
.form_wrap {
    max-width: 800px;
    margin: 30px auto;
}
.single_book_wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.single_book_wrap > img {
    max-width: 50%;
}
.single_book_wrap > .info {
    width: 35%;
}
.narrow_container {
    max-width: 1000px;
    margin: 30px auto;
}
.single_book_wrap .info {
    text-align: center;
}
.single_book_wrap .info .title {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0  20px 0;
}
.single_book_wrap .info .author {
    font-size: 26px;
    font-style: italic;
    margin: 0 0 15px 0;
}
.single_book_wrap .info .genre {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}
.annotation_wrap {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}
.annotation_wrap p {
    font-size: 18px;
    line-height: 26px;
}
.single_input {
    margin-bottom: 20px;
}
.single_input textarea {
    border-color: rgba(209, 213, 219, 0.9);
    border-radius: 5px;
}
